#content {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  border: 0px;
  padding: 0px;
}

#fact-container {
  margin: 20px;
  padding: 30px;
  color: rgb(7, 35, 63);
  font-family: Palatino;
  font-size: 20px;
  width: auto;
  height: auto;
  background-color: white;
}

#hello-container {
  margin: 10%;
  margin-top: 0px;
  width: 80%;
  padding-top: 45%;
  transition: all 2s ease;
  background-image: url(images/berkeley.jpg);
  background-size: cover;
  position: relative;
}

button {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 15px;
  width: auto;
  height: auto;
  border-radius: 1em;
  font-family: Palatino;
  font-size: 20px;
  color: white;
  background-color: rgb(7, 35, 63);
}

body {
  background-color: whitesmoke;
}

div {
  width: auto;
}

img {
  margin-top: 0px;
  object-fit: contain;
}

.margin {
  margin: 10px;
  margin-bottom: 30px;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: whitesmoke;
}

/* selected link */
a:active {
  color: whitesmoke;
}

.current {
  text-decoration: underline;
}

p {
  color:rgb(7, 35, 63);
  margin: 10px;
  font-size: x-large;
}

p1 {
  color:white;
  margin: 20px;
  margin-left: 50px;
  font-size: 17pt;
}

.lower-right {
  display: block;
  text-align: right;
  margin-right: 0px;
  margin-top: 0px;
}

h1 {
  color:white;
  font-family: Palatino;
  font-size: 55pt;
  margin-bottom: 30px;
}

h2 {
  color:rgb(7, 35, 63);
  font-family: Palatino;
  font-size: 40pt;
}

#hello-text {
  color: white;
  font-family: Palatino;
  font-size: 10vw;
  margin-top: 0px;
  transition: 2s ease;
}

flex {
  display: flex;
  flex-wrap: wrap;
  /* flex: 200px; */
}

flex .wrap-img {
  flex-grow: 1;
  flex-basis: calc(50% - 20px);
  margin: 10px;
  min-width: 250px;
}

.wrap-img img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.wrap-txt {
  flex-grow: 1;
  flex-basis: calc(50% - 22px);
  border: 1px;
  margin: 10px;
  min-width: 250px;
}

iframe {
  width: 100%;
  height: 1150px;
}

.header {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  height: auto;
  background: rgb(7, 35, 63);
  margin: 20px;
  padding: 50px;
  padding-bottom: 5px;
}

.section {
  padding: 50px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 1em;
  background-image: linear-gradient(rgba(7, 35, 63, 0), rgba(7, 35, 63, 0.1));
}

.section:hover { 
  background-image: linear-gradient(rgba(7, 35, 63, 0), rgba(7, 35, 63, 0.25));
}

.teaching-section {
  padding: 50px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 1em;
  background-image: linear-gradient(rgba(7, 35, 63, 0), rgba(7, 35, 63, 0.25));
}

.teaching-section:hover { 
  background-image: linear-gradient(rgba(7, 35, 63, 0.07), rgba(7, 35, 63, 0.4));
}

.overlay {
  margin: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  padding: 25px;
  opacity: 0;
  transition: .3s ease;
  background-color: gray;
  border-radius: 1em;
}

.overlay-hello {
  margin: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: calc(100% - 100px);
  padding: 50px;
  padding-top: 10%;
  transition: .3s ease;
  text-align: center;
}

.proj-container {
  position: relative;
  width: 250px;
  height: 250px;
  padding: 0px;
  margin: 10px;
  border-radius: 1em;
}

.proj-container:hover .overlay {
  opacity: 0.7;
}

.proj-img {
  width: 100%;
  margin: 10px;
  border-radius: 1em;
}

.tab {
  tab-size: 2;
}

.collapsible {
  color: rgb(7, 35, 63);
  background-color: transparent;
  text-decoration: underline;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
}

.active, .collapsible:hover {
  color: rgb(11, 60, 109);
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

#hello-container {
  margin: 20px;
  padding: 30px;
  color: rgb(7, 35, 63);
  font-family: papyrus;
  font-size: 150px;
  text-align: center;
  width: auto;
  height: auto;
  transition: 2s ease;
}

button {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 15px;
  width: auto;
  height: auto;
  border-radius: 1em;
  font-family: papyrus;
  font-size: 20px;
  color: white;
  background-color: rgb(7, 35, 63);
}

body {
  background-color: whitesmoke;
}

div {
  width: auto;
}

img {
  margin: 10px;
  object-fit: contain;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: whitesmoke;
}

/* selected link */
a:active {
  color: whitesmoke;
}

p {
  color:rgb(7, 35, 63);
  margin: 10px;
  font-size: x-large;
}

p1 {
  color:white;
  margin: 20px;
  font-size: 17pt;
}

.lower-right {
    position:absolute;
    bottom:0;
    right:0;
}

h1 {
  color:white;
  font-family: papyrus;
  font-size: 55pt;
}

h2 {
  color:rgb(7, 35, 63);
  font-family: papyrus;
  font-size: 40pt;
}

simple-flex {
  display: flex;
}

flex {
  display: flex;
  flex-wrap: wrap;
  flex: 200px;
}

.header {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  height: auto;
  background: rgb(7, 35, 63);
  margin: 20px;
  padding: 50px;
}

.section {
  padding: 50px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 1em;
  background-image: linear-gradient(rgba(7, 35, 63, 0), rgba(7, 35, 63, 0.1));
}

.section:hover { 
  background-image: linear-gradient(rgba(7, 35, 63, 0), rgba(7, 35, 63, 0.25));
}

.overlay {
  margin: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  padding: 25px;
  opacity: 0;
  transition: .3s ease;
  background-color: gray;
  border-radius: 1em;
}

.proj-container {
  position: relative;
  width: 250px;
  height: 250px;
  padding: 0px;
  margin: 10px;
  border-radius: 1em;
}

.proj-container:hover .overlay {
  opacity: 0.7;
}

.proj-img {
  width: 100%;
  margin: 10px;
  border-radius: 1em;
}

