#content {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: lightblue;
}

div {
  width: auto;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
}


img {
  margin: 10px;
  object-fit: contain;
}

p {
  color:white;
  margin: 10px;
  font-size: x-large;
}

.section {
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.2);
}

.section:hover { 
    background-color: rgba(0, 0, 0, 0.4);
}

.flex-section {
    display: flex;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.2);
}

.flex-section:hover { 
    background-color: rgba(0, 0, 0, 0.4);
}


